@charset "utf-8";

/* settings */
html{
    font-size: 62.5%;/*1rem=10px*/
    font-family: "Ubuntu";
    scroll-behavior: smooth;
    --color1: #111111;/*black*/
    --color2: #eeeeee;/*white*/
    --color3:#fe2323d5;/*red*/
    --color4:#ad1390;/*admix*/
    --color5:#00000096;/*black for background*/
    --color6:#ffffff00;/*transparent*/
}
body{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    font-family: Serif;
    font-weight: bolder;
    font-size: 5rem;
}
p{
    margin: 0;
    font-size: 2rem;
    font-family: Serif;
    line-height: 5rem;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
    h1{
        font-size: 7rem;
    }
    p{
        font-size: 3rem;
        line-height: 7rem;
    }
}

/* for PC */
/* menu bar */
@media screen and (min-width: 1000px) {
    .open, #g-nav, #tohome{
        display:none;
    }
}
.menu{
    position: fixed;
    width: 100%;
    background-color: var(--color1);
    padding: 4rem;
    margin-left: -1%;
}
.menu a p{
    float: left;
    width: 20%;
    text-align: center;
    color: var(--color2);
    font-size: 3rem;
    font-family: "Moon";
    transition: 0.3s;
    line-height: 1rem;
    font-weight: normal;
}
.menu a p:hover{
    color: var(--color3);
}
#thispage, #thispage_P{
    color: var(--color3);
}
#thispage:hover{
    color: var(--color2);
}

/* language change button */
.langbutton{
    width: 6rem;
    position: fixed;
    margin: 9rem auto auto 100%;
    z-index: 999;
}
.langbutton p{
    height: 5rem;
    width: 15rem;
    color: var(--color2);
    font-size: 2.5rem;
    text-align: center;
    margin: auto auto auto -240%;
    font-family: Serif;
    font-weight: lighter;
    background-color: var(--color5);
}
#japan{
    margin-left: -220%;
    margin-right: 10%;
}

/* for phone */
/* menu bar */
@media screen and (max-width: 1000px) {
    .menu, .langbutton p{
        display: none;
    }
    #tohome{
        position: fixed;
        margin: 5% auto auto 5%;
        z-index: 9999;
    }
    #tohome img{
        width: 10rem;
    }
    .open{
        position: fixed;
        z-index: 99999;
        cursor: pointer;
        width: 20rem;
        margin: 7% auto auto 82%;
    }
    .open span{
        z-index: 999;
        display: inline-block;
        transition: all 0.3s;
        position: absolute;
        height: 0.7rem;
        border-radius: 0rem;
        background-color: var(--color3);
        width:50%;
    }
    .open span:nth-of-type(1){
        top: 1rem;
    }
    .open span:nth-of-type(2){
        display: none;
        top: 35px;
    }
    .open span:nth-of-type(3){
        top: 5rem;
    }
    .open.active span:nth-of-type(1){
        top: 1.8rem;
        transform: translateY(0.6rem) rotate(-45deg);
        width: 50%;
    }
    .open.active span:nth-of-type(2){
        opacity: 0;
    }
    .open.active span:nth-of-type(3){
        top: 3rem;
        transform: translateY(-0.6rem) rotate(45deg);
        width: 50%;
    }
    #g-nav.panelactive #g-nav-list{
        position: fixed;
        z-index: 9999999;
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scoroling: touch;
    }
    #g-nav ul{
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    nav ul{
        z-index: 999;
        list-style: none;
        text-align: center;
    }
    nav ul li a{
        z-index: 999;
        display: inline-block;
        text-decoration: none;
        padding: 1rem;
        line-height: 200%;
    }
    #g-nav{
        position: fixed;
        z-index: 999;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: var(--color1);
        transition: all 0.6s;
    }
    #g-nav.panelactive{
        right: 0;
    }
    .g-nav-list ul li a{
        color: var(--color2);
        font-size: 10rem;
        text-align: center;
        transition: 0.3s;
        width: 100%;
        font-family: "Moon";
        font-weight: normal;
    }
    .langbutton img{
        position: fixed;
        width: 10rem;
    }
    #japan{
        margin-top: 10%;
        margin-left: -18%;
    }
    #USA{
        margin-top: 20%;
        margin-left: -18%;
    }
}

/* contents */
/* sentence */
.elements h1{
    padding-top: 8%;
    margin-left: 8%;
    font-weight: bold;
    color: var(--color2);
}
.elements p{
    color: var(--color2);
    padding-top: 2%;
    margin-left: 9%;
    width: 25%;
    font-weight: normal;
}

/* button to jump link */
#linkbutton{
    position: absolute;
    padding: 2rem;
    text-align: center;
    color: var(--color2);
    background-color: var(--color5);
    border: solid 0.3rem var(--color2);
    transition: 0.3s;
    margin: -35% auto auto 75%;
}
#linkbutton p{
    font-family: Serif;
    font-weight: bolder;
    font-size: 3rem;
}
#linkbutton:hover{
    color: var(--color1);
    background-color: var(--color2);
    border: solid 0.3rem var(--color2);
    padding-right: 1.5rem;
    padding-left: 2.5rem;
    transition: 0.3s;
}

/* arrow to scroll */
#arrow, #arrowup{
    margin: auto auto auto 15rem;
    height: 1rem;
}
#arrow img, #arrowup img{
    transition: 0.3s;
}
#arrow img:hover{
    padding-top: 1rem;
    transition: 0.3s;
}
#arrowup img:hover{
    margin-top: -1rem;
    transition: 0.3s;
}

/* background to make it easier to read */
#bgcolor{
    background: linear-gradient(90deg, var(--color5), var(--color6));
    background-size: cover;
    z-index: 110;
    height: 100%;
}

/* background images */
#home1p, #home2p, #home3p, #history1p, #history2p, #history3p, #history4p, #hard1p, #hard2p, #hard3p, #soft1p, #soft2p, #links1p, #links2p{
    height: 55%;
}
#home1{
    margin: 0;
    background-image: url("./img/admix_2_blackred2.png");
    background-size: cover;
    z-index: 100;
}
#home2{
    background-image: url("./img/ADMIX_Toinnode1.jpg");
    background-size: cover;
    z-index: 100;
}
#home3{
    background-image: url("./img/redtoblackwhite.JPG");
    background-size: cover;
    z-index: 100;
}
#history1{
    background-image: url("./img/historyoftoinadmix.JPG");
    background-size: cover;
    z-index: 100;
}
#history2{
    background-image: url("./img/DSC_0443~2.JPG");
    background-size: cover;
    z-index: 100;
}
#history3{
    background-image: url("./img/kansai_robot.jpg");
    background-size: cover;
    z-index: 100;
}
#history4{
    background-image: url("./img/DSC_1941.JPG");
    background-size: cover;
    z-index: 100;
}
#hard1{
    background-image: url("./img/MyRobots3.png");
    background-size: cover;
    z-index: 100;
}
#hard2{
    background-image: url("./img/GUSWt6tbgAAeh-E.jpg");
    background-size: cover;
    z-index: 100;
}
#hard3{
    background-image: url("./img/makingrobots.JPG");
    background-size: cover;
    z-index: 100;
}
#soft1{
    background-image: url("./img/DSC_14211.JPG");
    background-size: cover;
    z-index: 100;
}
#soft2{
    background-image: url("./img/robotinthedark.JPG");
    background-size: cover;
    z-index: 100;
}
#links1{
    background-image: url("./img/DSC_1404.JPG");
    background-size: cover;
    z-index: 100;
}
#links2{
    background-image: url("./img/DSC_1377.JPG");
    background-size: cover;
    z-index: 100;
}

@media screen and (max-width: 1000px) {
    /* contents */
    /* sentence */
    .elements h1{
        padding-top: 25%;
        margin-left:10%;
    }
    .elements p{
        padding-top: 5%;
        margin-left: 13%;
        width: 50%;
    }

    /* button to jump link */
    #linkbutton{
        margin: -90% auto auto 10%;
        padding: 1rem;
    }
    #linkbutton:hover{
        padding: 1rem;
        color: var(--color2);
        background-color: var(--color5);
        border: solid 0.3rem var(--color2);
        transition: 0.3s;
        margin: -100% auto auto 10%;
    }

    /* arrow to scroll */
    #arrow, #arrowup{
        margin: auto auto auto 10rem;
        height: 1rem;
    }
    #arrow img, #arrowup img{
        margin-top: 15rem;
        width: 15rem;
    }
    #arrow img:hover{
        padding-top: 0rem;
    }
    #arrowup img:hover{
        margin-top: 15rem;/*i dont know why but this prevents 'arroup' from jumping up*/
    }

    /* background images */
    #home1{
        margin: 0;
        background-image: url("./img/admix_2_blackred2_P.png");
    }
    #home2{
        background-image: url("./img/ADMIX_Toinnode1_P.jpg");
        background-size: cover;
        z-index: 100;
    }
    #home3{
        background-image: url("./img/redtoblackwhite_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #history1{
        background-image: url("./img/historyoftoinadmix_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #history2{
        background-image: url("./img/DSC_0443~2_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #history3{
        background-image: url("./img/kansai_robot_P.jpg");
        background-size: cover;
        z-index: 100;
    }
    #history4{
        background-image: url("./img/DSC_1941_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #hard1{
        background-image: url("./img/MyRobots3_P.png");
        background-size: cover;
        z-index: 100;
    }
    #hard2{
        background-image: url("./img/GUSWt6tbgAAeh-E_P.jpg");
        background-size: cover;
        z-index: 100;
    }
    #hard3{
        background-image: url("./img/makingrobots_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #soft1{
        background-image: url("./img/DSC_14211_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #soft2{
        background-image: url("./img/robotinthedark_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #links1{
        background-image: url("./img/DSC_1404_P.JPG");
        background-size: cover;
        z-index: 100;
    }
    #links2{
        background-image: url("./img/DSC_1377_P.JPG");
        background-size: cover;
        z-index: 100;
    }
}

/* sns links */
#sns img{
    position: fixed;
    width: 4rem;
    margin-left: 96%;
}
#x{
    bottom: 31rem;
}
#youtube{
    bottom: 23rem
}
#note{
    bottom: 15rem;
}
#github{
    bottom: 7rem;
}
@media screen and (max-width: 1000px) {
    /* sns links */
    #sns img{
        position: fixed;
        width: 8rem;
        margin-left: 90%;
    }
    #x{
        bottom: 55rem;
    }
    #youtube{
        bottom: 40rem
    }
    #note{
        bottom: 25rem;
    }
    #github{
        bottom: 10rem;
    }
}

/* footer */
#bottom{
    background-color: var(--color1);
    color: var(--color2);
    height: 4rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: Serif;
    font-weight: bold;
    margin-top: -6rem;
}
@media screen and (max-width: 1000px){
    /* footer */
    #bottom{
        height: 6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: -10rem;
    }
}