@charset "utf-8";

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;/*1rem=10px*/
    font-family: "Ubuntu";
}
h1{
    margin: 0;
    font-family: "Ubuntu";
    font-weight: bolder;
    font-size: 5rem;
}
p{
    margin: 0;
    font-size: 2rem;
    font-family: Serif;
    line-height: 2.5;
}
.menu{
    position: fixed;
    width: 100%;
    margin-top: 0%;
    background-color: #000000a7;
    padding: 2%;
    margin-left: -1%;
}
.menu a p{
    float: left;
    width: 20%;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-family: "Moon";
    transition: 0.3s;
    line-height: 1;
}
.menu a p:hover{
    color: #fe2323d5;
}
#thispage{
    color: #fe2323d5;
}
#thispage:hover{
    color: #fff;
}
#langbutton{
    width: 3%;
    position: fixed;
    margin: 6% auto auto 100%;
    border-color: #ffffff00;
}
#japan{
    margin-left: -250%;
    margin-right: 10%;
}

.elements{
    height: 100%;
    margin: -0.4% -0.44% -0.6% -0.44%;/*謎の余白消す*/
}
.elements h1{
    padding-top: 8%;
    margin-left: 8%;
    color: #ffffff;
}
.elements p{
    color: #fff;
    padding-top: 2%;
    margin-left: 9%;
    width: 25%;
    font-weight: bold;
}
#home1{
    background-image: url("./img/admix_2_Fdribbler.png");
    background-size: cover;
    z-index: 100;
}
#home2{
    background-image: url("./img/ADMIX_Toinnode1.jpg");
    background-size: cover;
    z-index: 100;
}
#home3{
    background-image: url("./img/redtoblackwhite.JPG");
    background-size: cover;
    z-index: 100;
}
#history1{
    background-image: url("./img/historyoftoinadmix.JPG");
    background-size: cover;
    z-index: 100;
}
#history2{
    background-image: url("./img/DSC_0443~2.JPG");
    background-size: cover;
    z-index: 100;
}
#history3{
    background-image: url("./img/kansai_robot.jpg");
    background-size: cover;
    z-index: 100;
}
#history4{
    background-image: url("./img/DSC_1941.JPG");
    background-size: cover;
    z-index: 100;
}
#hard1{
    background-image: url("./img/MyRobots_front.png");
    background-size: cover;
    z-index: 100;
}
#hard2{
    background-image: url("./img/GUSWt6tbgAAeh-E.jpg");
    background-size: cover;
    z-index: 100;
}
#hard3{
    background-image: url("./img/makingrobots.JPG");
    background-size: cover;
    z-index: 100;
}
#soft1{
    background-image: url("./img/DSC_14211.JPG");
    background-size: cover;
    z-index: 100;
}
#soft2{
    background-image: url("./img/robotinthedark.JPG");
    background-size: cover;
    z-index: 100;
}
#links1{
    background-image: url("./img/DSC_1404.JPG");
    background-size: cover;
    z-index: 100;
}
#links2{
    background-image: url("./img/DSC_1377.JPG");
    background-size: cover;
    z-index: 100;
}
#bottom{
    margin: -0.4%;
    background-color: #000000;
    color: #efefef;
    height: 10%;
    text-align: center;
    padding-top: 3%;
    font-size: 2rem;
    font-family: Serif;
}
#bottom img{
    position: relative;
    width: 2%;
    margin-top: -5%;
    margin-bottom: 1.5%;
    margin-right: 2%;
}
#x{
    margin-left: 75%;
}