@charset "utf-8";
li{
    list-style: none;
}
.links{
    width: 700px;
    display: block;
    margin: auto;
}
.tohome{
    position: fixed;
}
.tohome img{
    margin-top: 0px;
    margin-left: 3%;
}
.menu{
    margin-top: 0px;
    width: 70%;
    margin-left: 17%;
    position: fixed;
}
.menu a{
    color: #bd0fe9;
    float:left;
    width: 19%;
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
    transition: 0.4s;
    text-align: center;
    font-family: Verdana;
    text-decoration: none;
}
.menu a:hover{
    color:#ffffff;
    background-color: #bd0fe96f;
    transition: 0.3s;
}
#thispage{
    background: #bd0fe96f;
    color:#ffffff;
    transition: 0.4s;
}
#thispage:hover{
    background-color: #fceeff;
    color:#bd0fe9;
    transition: 0.3s;
}
#background{
    position: fixed;
    background-color: #fceeff;
    width: 102%;
    height: 102px;
    font-size: 100%;
    margin-top: -3%;
    margin-left: -1%;
}
#iru{
    font-size: 1%;
    color: #ffff;
}
#parts{
    width: 101%;
    border:solid 5px #bd0fe96f;
    margin: 3% auto 5% -0.7%;
}
.links a{
    text-decoration: none;
    color: #bd0fe9;
    transition: 0.4s;
}
.links a:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.links h1{
    font-size: 250%;
    margin-top: 7%;
}
.links h2{
    font-family: serif;
    font-size: 200%;
    margin-left: 5%;
}
.links p{
    font-family: Verdana;
    font-size: 130%;
    margin-left: 10%;
}
.links img{
    margin-bottom: 15%;
    margin-left: 10%;
}
.ending {
    position: relative;
    font-family: 'Ubuntu';
    color: #ffff;
    font-size: 100%;
    text-align: center;
    background-color: #bd0fe96f;
    background-size: 100%;
    height: 30%;
    margin-left: -1%;
    margin-bottom: -1%;
    margin-right: -0.4%;
    margin-top: 0%;
}
.open{
    position: fixed;
    z-index: 99999;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0% auto auto 95%;
}
.open span{
    display: inline-block;
    transition: all 0.3s;
    position: absolute;
    height: 8px;
    border-radius: 10px;
    background-color: #bd0fe9;
    width:50%;
    margin-top: 14%;
    margin-left: -60%;
}
.open span:nth-of-type(1){
    top: 10px;
}
.open span:nth-of-type(2){
    display: none;
    top: 35px;
}
.open span:nth-of-type(3){
    top: 50px;
}
.open.active span:nth-of-type(1){
    top: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.open.active span:nth-of-type(2){
    opacity: 0;
}
.open.active span:nth-of-type(3){
    top: 30px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#g-nav.panelactive #g-nav-list{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scoroling: touch;
}

#g-nav ul{
    position: absolute;
    z-index: 999;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    line-height: 250%;
}

#g-nav{
    position: fixed;
    z-index: 999;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    background: #fceeff;
    transition: all 0.6s;
}

#g-nav.panelactive{
    right: 0;
}
.g-nav-list ul li a{
    color: #bd0fe9;
    font-size: 400%;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    font-family: Verdana;
}
.g-nav-list ul li a:hover{
    color:#ffffff;
    background-color: #bd0fe96f;
    transition: 0.3s;
}
.x{
    position: relative;
}
.x img{
    position: absolute;
    margin: -3% auto auto 94%;
    width: 3%;
}
.blog img{
    position: absolute;
    margin: -2.8% auto auto 89%;
    width: 3%;
}
#white{
    z-index: 100;
}
#black{
    z-index: 99999;
}
@media screen and (max-width: 1000px) {
    .frame{
        margin-top: 15%;
        height: 600px;
    }
    #background{
        height: 150px;
    }
    .menu{
        display: none;
    }
    .tohome img{
        width: 30%;
        margin-top: 2%;
    }
    #admix_home{
        display: none;
    }
    #parts{
        width: 101%;
        border:solid 5px #bd0fe96f;
        margin: 13% auto 5% -0.7%;
    }
    .links p{
        font-size: 40px;
    }
    .ending p{
        font-size: 30px;
    }
    .x img{
        width: 10%;
        margin: -11% auto auto 87%;
    }
    .blog img{
        width: 10%;
        margin: -11% auto auto 75%;
    }
}
@media screen and (min-width: 1000px) {
    #black:hover{
        z-index: 0;
        display: none;
    }
    .open{
        display: none;
    }
}